<h2>My users</h2>
<ul class="users">
  <li
    *ngFor="let user of users"
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)"
  >
    <span class="badge">{{ user.id }}</span> {{ user.name }} {{ user.surname }}
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{ selectedUser.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedUser.id }}</div>
  <div>
    <label>
      name:
      <input [(ngModel)]="selectedUser.name" placeholder="name" />
    </label>
  </div>
  <ul class="homework">
    <li *ngFor="let work of selectedUser.homework">
      <div>{{ work.title }}: {{ work.status }}</div>
      <div>{{ work.description }}</div>
    </li>
  </ul>
</div>
